//--------------------------------------------------------------------------//
// Extras                                                                   //
//--------------------------------------------------------------------------//

// This section is for additional styles not part of the template
// A workaround for gitit ignoring certain inline styles

// Team page ---------------------------------------------------------------//

.team
    width: 100%
    padding: 1rem 0 0
    display: inline-table

    .profileUrl
        float: left
        padding: 0 3rem 0 0

    .headshot
        display: table
        padding: 2rem 0
        max-width: 15rem

    .bio
        display: table
